@use '../../utils/styles.variables' as styles;

.main {
  position: relative;
  top: styles.$navHeight;
  max-width: styles.$contentMaxWidth;
  margin: 16px auto;
  padding: 0px 12px;

  background-color: styles.$primaryColor;
}
