@use '../../utils/styles.variables' as styles;

.main {
  position: relative;
  top: styles.$navHeight;
  max-width: styles.$contentMaxWidth;
  margin: 0 auto;
  padding: 32px 16px 16px;

  min-height: calc(100vh - styles.$navHeight - 16px);

  background-color: transparent;
  // background: styles.$backgroundColor;
}
