$contentMaxWidth: 1000px;

$primaryColor: #120077;
$primaryDarkColor: #0c0050;
$primaryLightColor: #2500fa;
$contrastColor: #fff;
$secondaryColor: #dff800;
$disabledColor: #616161;

$mainLightBoxShadow: 0px 0px 4px 1px rgba(255, 255, 255, 0.25);
$mainStrongBoxShadow: 0px 0px 4px 1px rgba(255, 255, 255, 0.5);

$smallScreenSize: 500px;

$navHeight: 60px;
