$contentMaxWidth: 1000px;

$primaryColor: #9599E2;
$secondaryColor: #8BC6EC;
$contrastColor: #000000;
$disabledColor: #616161;

$backgroundColor: linear-gradient(135deg, $secondaryColor, $primaryColor);
$boxBackgroundColor: linear-gradient(135deg, $primaryColor, $secondaryColor);

$smallScreenSize: 500px;

$navHeight: 60px;
