$contentMaxWidth: 1000px;

$primaryColor: #00b3b6;
$secondaryColor: #99e7ff;
$contrastColor: #000000;
$disabledColor: #727272;

$backgroundColor: linear-gradient(135deg, $secondaryColor, $primaryColor);
$boxBackgroundColor: linear-gradient(135deg, $primaryColor, $secondaryColor);

$smallScreenSize: 500px;

$navHeight: 60px;
