.form {
  input {
    min-width: 200px;
    margin-bottom: 16px;
  }

  textarea {
    width: 50%;
    min-width: 200px;
    min-height: 50px;
    margin-bottom: 16px;
  }

  button {
    padding: 8px;
  }
}
