.container {
  h1 {
    margin: 0 0 12px;
    overflow-wrap: break-word;
  }

  p {
    margin-bottom: 12px;
  }

  .edit-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;

    textarea,
    input {
      min-width: 200px;
      max-width: 80%;
    }

    textarea {
      width: 50%;
      min-height: 50px;
    }
  }

  .actions {
    margin-bottom: 32px;
  }
}
