@use '../../utils/styles.variables' as styles;

.answer {
  margin: 8px auto;
  width: 60%;
  border: 1px solid black;
  border-radius: 12px;

  .answer-text {
    margin: 16px;
    overflow-wrap: break-word;
  }

  .edit-form {
    margin: 6px;
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: center;
  }
}
