@use '../../utils/styles.variables' as styles;

@mixin defaultInput {
  padding: 8px 16px;
  color: styles.$contrastColor;
  border: 0 solid transparent;

  border-radius: 12px;
  background: styles.$boxBackgroundColor;
  font-size: 14px;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.5);

  &:hover {
    cursor: text;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.5);
  }

  &::placeholder {
    color: styles.$contrastColor;
    opacity: 0.65;
  }

  &:focus::placeholder {
    color: transparent;
  }
}

.input {
  @include defaultInput;
}
